.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}

.container-card{
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;
}
